AI_Job_Recommendation_System/
│
├── data/
├── notebooks/
├── src/
├── models/
├── app/
├── requirements.txt
└── README.md

require libraries for the AI Job Recommendation System
numpy
pandas
scikit-learn
flask
joblib
matplotlibseaborn
nltk
tensorflowkeras
xgboost
lightgbm
catboost